<!doctype html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
    </head>
    <body>
        <h2>Name :<%=bakedItem.name%></h2>
        <h3>Price :<%=bakedItem.price%></h3>
        <img src=<%=bakedItem.image%>>
        <br>
        <a href="/bakedgoods"><-Back</a>
    </body>
</html>